:root {
  font-size: 10px;
  width: auto;
  max-width: 1400px;
  margin: auto;
}
.header {
  width: 548px;
  height: 54px;
  font-family: "M PLUS 1";
  font-size: 48px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0.3rem;
  margin: 25px auto;
  color: rgba(62, 69, 232, 1);
}
.header_color {
  color: rgba(232, 194, 62, 1);
}
.banner {
  background-image: url(./img/baner.png),
    linear-gradient(
      90deg,
      rgba(52, 52, 52, 0.35) 68.11%,
      rgba(52, 52, 52, 0) 100%
    );
  background-repeat: no-repeat;
  width: 100%;
  height: 765px;
  display: flex;
}
.banner_text {
  width: 1036px;
  height: 304px;
  font-weight: 700;
  font-size: 48px;
  line-height: 76px;
  color: #ffffff;
  margin: 200px 0;
}
.banner_gradient {
  height: 290px;
  margin-top: 265px;
  margin-left: 60px;
  background: fixed;
}
.cards_header {
  width: 620px;
  height: 63px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 157.3%;
  text-transform: uppercase;
  color: #000000;
  margin-top: 70px;
  margin-left: 80px;
}
.cards_gradient {
  margin-top: 10px;
  width: 779px;
  height: 12px;
  background: linear-gradient(
    to right,
    #00e0ff 0%,
    #1400ff 50%,
    #ffa800 50%,
    rgba(255, 245, 0, 0) 100%
  );
}
.cards {
  min-width: 992px;
  max-width: 1200px;
  margin: 50px auto;
}
.card {
  display: inline-block;
  width: 30%;
  border: 5px solid #0d095f;
  min-height: 481px;
  vertical-align: top;
  border-radius: 33px;
}
.card_img img {
  width: 100%;
}
.card_title {
  width: 267px;
  height: 38px;
  font-weight: 700;
  font-size: 24px;
  line-height: 157.3%;
  color: #0072db;
  padding-left: 10px;
}
.card_description {
  width: 337.41px;
  height: 35.2px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 157.3%;
  color: #ff9900;
  padding-left: 10px;
}
.card_margin {
  margin: 0 3%;
}
.card_1 {
  box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
}
.card_2 {
  box-shadow: 0px 21px 35px rgba(0, 209, 255, 0.35);
}
.card_3 {
  box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);
}
.map_title {
  width: 580px;
  height: 63px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 157.3%;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
  border-bottom: 8px solid rgba(20, 0, 255, 1);
}
.map {
  width: 1001px;
  height: 626px;
  margin: 30px auto 20px;
}
.map_button {
  width: 499px;
  height: 81px;
  background: #2a61f0;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto 40px;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 130%;
}
.map_button a {
  display: block;
  height: 81px;
  color: #ffffff;
  text-decoration: none;
}
footer {
  width: 100%;
  height: 233px;
  background: linear-gradient(180deg, #013235 0%, #0d0661 100%);
  text-align: center;
}
.footer_title {
  width: 499px;
  height: 70px;
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 70px;
  letter-spacing: 0.3rem;
  margin: 25px auto 0;
  color: rgba(62, 69, 232, 1);
}
.footer_title_color {
  color: rgba(223, 227, 30, 1);
}
.footer_mail {
  width: 452px;
  height: 49px;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 45px;
  letter-spacing: 0.1em;
  color: rgba(168, 157, 157, 1);
  margin: 0px auto;
}
.footer_mail a {
  color: rgba(168, 157, 157, 1);
  text-decoration: none;
}
.footer_phone {
  width: 452px;
  height: 49px;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 45px;
  letter-spacing: 0.2rem;
  color: rgba(168, 157, 157, 1);
  margin: 0px auto;
}
.footer_phone a {
  color: rgba(168, 157, 157, 1);
  text-decoration: none;
}
.footer_icon {
  display: inline-block;
  margin: auto;
}
.icon1 {
  height: 31.331918716430664px;
  width: 32px;
}
.icon2 {
  height: 31.14259910583496px;
  width: 32px;
  margin: 0 20px;
}
.icon3 {
  height: 29.373672485351562px;
  width: 43px;
}
